
.list--base .list__item::before {
	background: #15abbf;
}
.list--base .list__item::before {
	background: #15abbf;
}

@media screen and (min-width: 992px) {
	.primary-menu__list.has-sub:hover .primary-menu__link {
		color: #15abbf;
	}
}

.text--base {
  color: #15abbf !important;
}

.primary-menu__link:hover {
	color: #15abbf;
}


@media screen and (min-width: 992px) {
	.primary-menu__sub-link:hover {
		background: #15abbf;
	}
}

.primary-submenu-toggler .primary-menu__list.has-sub.active .primary-menu__link {
	color: #15abbf;
}

.preloader__loader {
	--loader-color: #15abbf;
	--loader-shadow-color: #15abbf;
}

.back-to-top {
	background-color: #15abbf;
}

.btn--base {
  /*background-image: linear-gradient(to right, #ca0404 0%, #ca040477 51%, #ca0404 100%);*/
  background-image: linear-gradient(to right, #36e4f5 0%, rgba(42, 234, 227, 0.47) 51%, #09f5c5 100%);
}

.btn--transaction {
	border: 2px solid #15abbf;
	color: #15abbf;
}


.stat-card--danger .stat-card__counter-text {
    color: #15abbf;
}


.btn--transaction:hover {
	color: #15abbf;
}

.btn--transaction.active {
	background: #15abbf;
}

.search-popup .search-form .submit-btn {
	background-color: #15abbf;
}

.widget-category__link:hover {
	color: #15abbf;
}

.custom--table> :not(:first-child) {
	border-top: 1px solid #15abbf;
}

.custom--table thead {
	background-color: #15abbf;
}

.custom--accordion .accordion-button::after {
	background: #15abbf;
}

.custom--accordion .accordion-button:not(.collapsed) {
	border: 1px solid #15abbf;
	background: #15abbf !important;
}

.feature-card__icon {
	/*background: #ca0404 !important;*/
	background: #15abbf !important;
}
.stat-card__icon {
  background: #15abbf !important;
}
.header-top__social-icon {
	color: #15abbf;
}

.header-top__social-icon:hover {
	border: 1px solid #15abbf;
	background: #15abbf;
}


.plan-card::before {
	/*background-color: #15abbf;*/
}


.team-member__body {
	background: #15abbf;
}
.blog-post__date {
	background: #15abbf;
}

.blog-post__title:hover {
	color: #15abbf;
}
.blog-post__meta-icon {
	color: #15abbf;
}


.newsletter {
	border: 2px solid #15abbf;
}

.custom-form-check-input:checked {
	background-color: #15abbf;
	border-color: #15abbf;
}

.custom-form-check-input:focus {
	border-color: #15abbf;
}
.breadcrumbs__link:hover {
	color: #15abbf;
}

.paginations {
	border: 1px solid #15abbf;
	color: #15abbf;
}

.paginations:hover {
	background: #15abbf;
	border-color: #15abbf;
}

.social-icon,
.social-icon--primary,
.social-icon--alt {
	border: 1px solid #15abbf;
	color: #15abbf;
}


.social-icon--alt {
	color: #15abbf;
}

.social-icon--alt:hover {
	background: #15abbf;
	border-color: #15abbf;
}

.dashboard__balance {
	background: transparent;
	background-image: linear-gradient(147deg, #15abbf4f 0%, #15abbf 74%);
}

.quickview-card__head-icon {
	color: #15abbf;
}
.quickview-card__menu:hover {
	color: #15abbf;
}


.bg--base {
	background: #15abbf;
}

.bg--base {
	background: #15abbf;
}


.accepted-payment-section {
	border-top: 10px solid #15abbf;
	border-bottom: 10px solid #15abbf;
}

.fixed-header .header {
    border-bottom: 1px solid #15abbf80;
}
.plan-card__head .text--danger{
    color: #15abbf;
}
.feature-card {
    border: 1px solid #15abbf80;
}

.feature-card:hover {
    -webkit-box-shadow: 0 3px 10px #15abbf80;
    box-shadow: 0 3px 10px #15abbf80;
}

.stat-card {
    border: 1px solid #15abbf80;
}

.custom--table {
    -webkit-box-shadow: 0 5px 15px 0 #15abbf40;
    box-shadow: 0 5px 15px 0 #15abbf40;
}

.custom--table tbody td {
    border-bottom: 1px solid #15abbf40;
}

.custom--accordion .accordion-button:not(.collapsed)::after {
    background: #1b2030;
}

.widget-category__item {
    border-bottom: 1px solid #15abbf4d;
}

@media screen and (min-width: 768px){
    .profit-calculator {
        border: 1px solid #15abbf4d;
    }
}

.list--row__item .text--danger{
    color: #15abbf;
}


.pagination .page-link:hover {
	background: #15abbf;
	border-color: #15abbf;
}

.pagination .page-link {
	border: 1px solid #15abbf;
	color: #15abbf;
}

.pagination .page-item.active .page-link {
	background: #15abbf;
	border-color: #15abbf;
}

.t-link--danger:hover {
    color: #15abbf;
}

.quickview-card::after {
    background-color: #15abbf;
}

.recent-activity h5{
	color: #15abbf;
}

.btn-outline--base {
    border: 1px solid #15abbf;
    color: #15abbf;
}
.btn-outline--base:hover {
    background: #15abbf;
}


@media screen and (min-width: 992px){
	.breadcrumbs--dashboard .breadcrumbs__item:last-child .breadcrumbs__link {
		color: #15abbf;
	}
}

.primary-submenu-toggler .primary-menu__list.has-sub.active {
    background: #15abbf33;
}


@media (max-width: 992px){
	.primary-menu__sub-list {
		border-bottom: 1px solid #15abbfe6;
	}

	.primary-menu__sub-link {
		background: #15abbf;
	}
}

.contact-card {
    border: 1px solid #15abbf;
    background: #15abbf40;
}

.form--control:focus,.form--control-textarea:focus,.form--select:focus {
    border-color: #15abbf;
    -webkit-box-shadow: 0 5px 10px #15abbf4d;
    box-shadow: 0 5px 10px #15abbf4d;
}

.input-group-text {
    border: 1px solid #15abbf;
    background: #15abbf;
    color: #fff;
}
