/* my common css */

.btn_common{
    width: 150px;
    padding: 10px !important;
    border: none !important;
  }
  .btn_common_a{
    background: linear-gradient(90deg,#00f785,#410093) !important;
    color: #fff!important;
  }
  .text-center{
    text-align: center !important;
    justify-content:center!important;
  }
  .text-left{
    text-align: left !important;
  }
  .text-right{
    text-align: right !important;
  }
  
  .fw-300{
    font-weight: 300 !important;
  }
  
  .fw-400{
    font-weight: 400 !important;
  }
  
  .fw-500{
    font-weight: 500 !important;
  }
  
  .fw-600{
    font-weight: 600 !important;
  }
  
  .font-title{
    font-size: 2.3rem !important;
    font-weight: 700 !important;
  }

  .font-title-h1{
    font-size: 3.3rem !important;
    font-weight: 700 !important;
  }
  
  .font-intr{
    color: #8492a6 !important;
    font-size: 1.1rem !important;
  }
  .el-content-label{
    font-size: 1.3rem !important;
    font-weight: 700 !important;
  }
  .el-content-text-h1{
    font-size: 2rem !important;
  }
  .el-content-text-h2{
    font-size: 1.8rem !important;
  }
  .el-content-text-h3{
    font-size: 1.6rem !important;
  }
  .el-content-text-h4{
    font-size: 1.4rem !important;
  }
  .el-content-text{
    font-size: 1.2rem !important;
  }
  .el-mx-auto-95{
    width: 95%!important;
    margin: 0 auto;
  }
  .el-mx-auto-90{
    width: 90%!important;
    margin: 0 auto;
  }
  .el-mx-auto-80{
    width: 80%!important;
    margin: 0 auto;
  }
  .el-mx-auto-70{
    width: 70%!important;
    margin: 0 auto;
  }
  
  .el-common-link{
    width:20%;
    margin: 10px auto 0 auto;
    height: 3px;
    background: #000;
    border-radius: 14px;
  }
  
  .max-width-200{
    max-width: 200px;
    margin: 0 auto;
  }
  
  .max-width-300{
    max-width: 300px;
    margin: 0 auto;
  }
  
  .el-content-text-color{
    color:#8492a6 !important;
  }
  
  .data-flex{
    display: flex!important;
  }

  .flex-1{
    flex: 1 !important;
  }

  /* Button style */
.btn_style_ksd{
    background:linear-gradient(90deg,#00f785,#410093);
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    border: none;
}

/* Card Common Style */
.el_com_card{
  position: relative;
  padding: 10px 15px;
  background: #fff;
}

.el_com_card_np{
  position: relative;
  padding:0;
  background: #fff;
  height: 300px;
  border-radius: 12px;
}

/* 问题卡片 */
.qustion_card{
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow: var(--shadow-window-box-1), var(--shadow-window-box-2), var(--shadow-window-box-3), var(--shadow-window-box-4), var(--shadow-window-box-5);
  --tw-shadow-colored: var(--shadow-window-box-1), var(--shadow-window-box-2), var(--shadow-window-box-3), var(--shadow-window-box-4), var(--shadow-window-box-5);
  border-radius: 1rem;
  border-width: 1px;
  overflow: hidden;
  background: #ccc;
  color: #000;
}

.qustion_card .card_item{
  padding: 10px 20px;
  background: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.qustion_card .card_item:hover{
  background: #f5f5f5;
}

.border-b-1{
  border: 1px solid #ccc;
}

.mtb-5{
    margin: 5px 0;
}

.mtb-10{
    margin: 10px 0;
}
.mlr-5{
    margin: 0 5px;
}
.mlr-10{
    margin: 0 10px;
}